* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background: hsl(212, 45%, 89%);
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 10px;
}

.card img {
  width: 200px;
  border-radius: 6px;
}

.card h4 {
  width: 190px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-top: 15px;
}

.card p {
  width: 190px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 26px;
}
